#root{
    margin: 0;
}

.App{
    height: 100vh;
    position: relative;
}

.points{
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: red;
}

.App > button{
    z-index: 10000;
    position: absolute;
}